#wrapper
{
	
	position: relative;
	width: 100%;
	background-color: white;
	overflow: hidden;
}

#header_wrapper
{
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}

#header_title
{
	text-align: center;
	font-size: 4.5em;
	font-family: Helvetica;
}

#header_welcome_message
{
	padding-left: 15%;
	font-size: 1em;
	color: gray;
	font-family: Helvetica;
}

#header_subheading
{
	text-align: center;
	font-size: 1em;
	color: gray;
	font-family: Helvetica;
}

footer
{

}