body
{
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
}

#wrapper
{
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

#header_main
{
	text-align: center;
	font-size: 5em;
	font-family: Helvetica;
}

#header_welcome_message
{
	text-align: left;
	font-size: 1em;
	color: gray;
	font-family: Helvetica;
}

#subheading
{
	text-align: center;
	font-size: 1em;
	color: gray;
	font-family: Helvetica;
}

footer
{

}